.row {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.card {
  background: var(--secondary-color);
}

.card-header,
.counter-value,
.input-value {
  color: var(--primary-color);
}

.dark-mode {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100% -50%);
}

.dark-mode button {
  text-transform: uppercase;
  color: var(--secondary-color);
}